{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Login Page{% endblock %}

{% block body %}
<!-- component from https://tailwindcomponents.com/component/facebook-login-page -->
<!-- component from https://tailwindcomponents.com/component/login-page-6 -->
<div class="w-screen h-screen flex justify-center items-center bg-gray-100">
    <form class="login p-10 bg-white rounded flex justify-center items-center flex-col shadow-md" method="POST" action="{% url 'account_login' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-gray-600 mb-2" viewbox="0 0 20 20" fill="currentColor">
  			<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
        </svg>
        <p class="mb-5 text-3xl uppercase text-gray-600">Login</p>
        {% csrf_token %}
        <input id="id_login" type="email" placeholder="E-mail address" name="login" class="mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500" 
            autocomplete="email" required="" />
        <input id="id_password" type="password" placeholder="Password" name="password" class="mb-3 py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ring-cyan-500" 
            autocomplete="current-password"  required=""/>
        <button class="primaryAction w-full bg-blue-500 text-white p-3 rounded-lg font-semibold text-lg">Login</button>
        <a class="button secondaryAction text-blue-400 text-center my-2" href="{% url 'account_reset_password' %}">Forgot Pasword?</a>
        <hr />
        <a class="w-full bg-green-400 mt-8 mb-4 text-center text-white p-3 rounded-lg font-semibold text-lg" href="{% url 'account_signup' %}">Create New Account</a>
    </form>
</div>
{% endblock %}